<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Protected Directories</name>
	<version>300</version>
	<defaultcat>Advanced</defaultcat>
	<desc>Password protect your web applications and directories.</desc>
    <authorname>Fusionpanel Project</authorname>
    <authoremail>info@fusionpanel.org</authoremail>
    <authorurl>http://fusionpanel.org/</authorurl>
    <updateurl>http://store.fusionpanel.org/version.xml</updateurl>
</module>