<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Forwards</name>
    <version>100</version>
    <defaultcat>Mail</defaultcat>
    <desc>Using this module you have the ability to create mail forwarders.</desc>
    <authorname>Fusionpanel Project</authorname>
    <authoremail>info@fusionpanel.org</authoremail>
    <authorurl>http://fusionpanel.org/</authorurl>
    <updateurl>http://store.fusionpanel.org/version.xml</updateurl>
</module>